body {
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.button {
  display: block;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px 20px;
  text-align: center;
  cursor: pointer;

  &:hover,
  &:active {
    transform: scale(1.1);
  }
}

.header {
  background-color: gray;
  margin: 0 0 20px 0;

  &-wrapper {
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

}

.goods-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.goods-item {
  max-width: 320px;
  width: 100%;
  border: 1px solid black;
  box-sizing: border-box;
}

.goods-item-img {
  width: 100%;
  height: 240px;
}

.goods-item-title {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin: 10px 0 0 0;
  padding: 0;
  box-sizing: border-box;
}

.goods-item-price {
  font-size: 14px;
  color: red;
  font-weight: 300;
  text-align: center;
}

.goods-item-button {
  margin: 0 auto 10px;
}